body {
    background-color: rgba(70, 7, 7, 0.21);
    width: 100%;
    height: 100%;
}

.arrow_line {
    position: absolute;
    right: 59%;
    margin-top: 1%;
}

table {
    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 3vh;
    box-shadow: 0 0 50px 0 #B39F9F;
    border-radius: 50px;
}

.days {
    height: 60px;
}

th.day:hover {
    text-decoration: underline;
    color: #2a0606;
}

.schedule {
    position: absolute;
    margin-top: 15%;
}

.schedule td{
    padding-left: 7%;
    padding-top: 2%;
}

header form {
    display: block;
    text-align: center;
    margin-left: 25%;
    font-size: 4vh;
    margin-top: 3.5%;
    margin-right: 30%;
    border-radius: 20px;
}

label {
    top: 8%;
}

#group {
    position: absolute;
    font-size: 3vh;
    top: 8%;
    margin-left: 2%;
    text-align: center;
    border-radius: 20px;
    background-color: #DAD1D1;
    max-width: 300px;
    max-height: 70px;
    border-color: #B39F9F;
    z-index: 4;
}

#group:hover {
    background-color: #B39F9F;
}

.line {
    position: absolute;
    margin-left: 68%;
    margin-top: 41%;
    width: 27%;
    z-index: 2;
}

.learn-more {
    position: absolute;
    width: 15%;
    height: 5%;
    z-index: 1;
    margin-left: 70%;
    margin-top: 42%;
    font-size: 1.5vh;
}

.website-link {
    position: absolute;
    margin-left: 2%;
    z-index: 1;
    text-decoration: none;
}

.website-link:hover {
    color: #2a0606;
    text-decoration: underline;
}

.rect_title {
    margin-left: 66%;
    margin-top: 40%;
    width: 30%;
    position: absolute;
}

.logo {
    width: 10%;
    margin-left: 85%;
    margin-top: 37%;
    position: absolute;
    z-index: 3;
}

footer {
    margin-top: 97%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .arrow_line {
        right: 82%;
        margin-top: 5%;
    }

    table {
        width: 90%;
        margin: 5% auto;
        left: 5%;
        font-size: 2vh;
        border-radius: 30px;
    }

    header form {
        margin: 8% auto;
        font-size: 3vh;
    }

    #group {
        position: relative;
        margin: 5% auto;
        font-size: 2vh;
        width: 80%;
        max-width: 300px;
        max-height: 70px;
        border-radius: 20px;
    }

    .rect_title, .line{
        width: 55%;
    }

    .line,
    .learn-more,
    .website-link,
    .rect_title,
    .logo {
        margin-left: 40%;
    }

    .logo {
        margin-top: 36%;
        margin-left: 83%;
    }

    .line,
    .rect_title {
        margin-top: 37%;
    }

    .learn-more{
        margin-top: 38%;
        margin-left: 46%;
    }

    footer {
        margin-top: 97%;
    }
}