body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 15%;
}

h1 {
    font-size: 3vh;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input,
select {
    background-color: #D9CCCC;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #B39F9F;
    border-radius: 10px;
    font-size: 20px;
}

button {
    width: 25%;
    padding: 5px 10px;
    background-color: transparent;
    background-color: #B39F9F;
    color: black;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

button:before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    z-index: -1;
    background-color: #7c5757;
}

button:hover::before {
    width: 105%;
}

p{

    color: #000;
}
p:hover {
    color: rgb(97, 0, 0);
    text-decoration: underline;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: #000;
}

@media screen and (max-width: 768px) {
    form {
        width: 50%;
    }

    label {
        font-size: 16px;
    }

    input,
    select {
        font-size: 16px;
    }

    button {
        width: 50%;
        font-size: 16px;
    }
    footer {
        font-size: 10px;
    }

}
