.container {
    margin: 0 auto;
}

.scheduleContainer {
    margin-top: 3%;
}

.schedule {
    list-style: none;
    padding: 15%;
    font-size: 2.5vh;
}

.scheduleItem {
    border-bottom: 1px solid #ccc;
    padding: 2% 0;
    margin-top: 7%;
}

.time {
    font-weight: bold;
}

.subject,
.teacher,
.location {
    margin-left: 10px;
    color: #555;
}

.profile {
    position: absolute;
    width: 4%;
    margin-left: 5%;
    top: 2%;
    transition: transform 0.3s ease-in-out;
}

.profile:hover {
    transform: scale(1.1);
}

.profileSettings {
    position: absolute;
    width: 1.5%;
    align-items: center;
    margin-left: 5%;
    font-size: 1.5vh;
    margin-top: 2%;
    z-index: 1;
    border-radius: 50%;
}

.logo {
    width: 7%;
    margin-left: 90%;
    position: absolute;
    z-index: 3;
}

header form {
    display: block;
    text-align: center;
    margin-left: 34%;
    margin-top: 3.5%;
    margin-right: 35%;
    border-radius: 20px;
}

.customSelect select {
    appearance: none;
    background-color: #DAD1D1;
    border-radius: 20px;
    border: 1px solid #B39F9F;
    color: #555;
    font-size: 2.5vh;
    padding: 10px 15px;
    margin-left: 0;
    max-width: 350px;
    width: 100%;
}

.customSelect select:hover {
    background-color: #B39F9F;
}

footer {
    text-align: center;
    margin-top: 3%;
}


.notesContainer {
    display: flex;
    align-items: flex-start;
    margin-right: 15%;
}

.calendar {
    margin-top: 2%;
    margin-right: 20px;
    font-size: 0.8em;
}

.note {
    margin-top: 4%;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .profileSettings {
        margin-top: 2.8%;
    }
    
    .scheduleContainer{
        padding-top: 10%;
    }
    header form {
        margin-left: 24%;
    }

}