.container2 {
    margin: 40px;
}

.logo {
    width: 7%;
    margin-left: 90%;
    position: absolute;
    z-index: 3;
}

.profile {
    position: absolute;
    width: 4%;
    margin-left: 5%;
    top: 2%;
    transition: transform 0.3s ease-in-out;
}

.profile:hover {
    transform: scale(1.1);
}

.profileSettings2 {
    position: absolute;
    width: 1.5%;
    align-items: center;
    margin-left: 5%;
    font-size: 1.5vh;
    margin-top: 3.5%;
    z-index: 1;
    border-radius: 50%;
    background-color: white;
    border: white;
}

table {
    width: 98%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 1.5em;
    margin-right: 10%;
}

th,
td {
    padding: 10px;
    border-bottom: 3px solid #b39f9f;
    text-align: left;
}

th {
    background-color: #e3d1d1;
}

td {
    font-size: 0.7em;
}

th {
    font-size: 0.9em;
    text-align: center;
}

.button2 {
    width: 70%;
    padding: 5px 10px;
    background-color: transparent;
    background-color: #b39f9f;
    color: black;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 16%;
}

.button2:before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    transition: 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    z-index: -1;
    background-color: #7c5757;
}

.button2:hover::before {
    width: 105%;
}

footer {
    text-align: center;
    padding-top: 9%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
   
    table {
        margin-right: 10%;
        font-size: 1em;
    }

    th,
    td {
        padding: 5px;
    }

    .logo{
        margin-left: 80%;
    }

    .button2 {
        width: 75%;
        font-size: 0.7em;
    }

    footer {
        font-size: 10px;
    }
}